@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    margin-top: auto;
    width: 90%; 
    max-width: 1400px; 
    max-height: 650px; 
    margin: 0 auto; 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
   
}

div#carousel-title a {
    text-decoration: none;
}

div#carousel-title  {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: auto;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #1b357e;
}
button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

.carousel-container{
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

#carousel img{
    width: 100%;
    display: block;
    
}

.carousel-container{
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto  
}

.carousel-controls{
    text-align: center;
    padding: 10px 0;
}

#prevBtn, #nextBtn{
    background-color: #1351d8;
    color: #fff;
    border: none;
    padding: 8px 14px;
    font-size: 20px;
    cursor: 50%;
    margin: 0 10px;
    display: inline-block;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #1b357e;
}
.txtlgpd{
    display: block;
    width: 300px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
    text-align: justify;
}